#experience
  %h1.heading Experience
  %p.viewpoint I owe a lot to the mentors and friends at these companies who have guided my development as an engineer and helped me reach where I am today.
  #details
    -# %p Learn more about my experiences from internships:
    .work-images
      .image-block=link_to (image_tag 'enova-logo.png'), '/enova', remote: true
      -# .image-block=link_to (image_tag 'opower-logo2.png'), '/opower', remote: true
      .image-block=link_to (image_tag 'opower.png'), '/opower', remote: true
