.header
  .container
    %ul
      %li
        %a.nav-link{'data-href' => '/'} HOME
      %li
        %a.nav-link{'data-href' => "/experience"} EXPERIENCE
      %li
        %a.nav-link{'data-href' => "/projects"} PROJECTS
