.content.home-container
	#home
		=image_tag "profile.jpg", :class => "background-image"
		.home
			.home-details
				%h1 Hi, I'm Shaan Sapra
				%p I'm a software developer in Chicago.
				%p
					Check out more about my
					%a.nav-link{'data-href' => "/experience"} experience
					and past
					%a.nav-link{'data-href' => "/projects"} projects.
