#experience
  %h1.heading Projects
  %p.viewpoint While I was at the University of Chicago, I had the opportunity to work on several projects with friends and colleagues. Some have spun off into fully-fledged startups and some have been put to rest until a later day. Check them out!
  #details
    .work-images
      .image-block=link_to (image_tag 'uevents-logo.png'), '/uevents', remote: true
      .image-block=link_to (image_tag 'reliefwatch.png'), '/reliefwatch', remote: true
      .image-block=link_to (image_tag 'enova-logo.png'), '/nolimitcodeem', remote: true
      .image-block=link_to (image_tag 'happyhealth-logo.jpg'), '/happyhealth', remote: true
