.project-entry
  .details
    %p Project SAM (SMS Accounting Management) is a platform that allows healthcare systems in developing countries to effectively integrate their inventory records and efficiently manage supply shipments through basic feature-phones.
  .project-image-container
    =image_tag 'projectsam.png', class: 'project-image'
