%nav
  %a.nav-link.active{href: "/"}
    %i.fa.fa-home.fa-lg.icon
    %p Home
  %a.nav-link{'data-href' => "/experience"}
    %i.fa.fa-wrench.fa-lg.icon
    %p Experience
  %a.nav-link{'data-href' => "/projects"}
    %i.fa.fa-folder-open-o.fa-lg.icon
    %p Projects
  %a.nav-link{'data-href' => "/skills"}
    %i.fa.fa-cog.fa-lg.icon
    %p Skills
  %a.nav-link{'data-href' => "/contact"}
    %i.fa.fa-user.fa-lg.icon
    %p Contact
  %a{href: "https://www.dropbox.com/s/jic0o6kl6bxhut3/Shaan%20Sapra%20Resume.pdf?dl=0", target: '_'}
    %i.fa.fa-file.fa-lg.icon
    %p Resume
  %p.copyright Copyright ©2014
