#skills
  %h1 Skills
  %h2 I've dabbled in a little bit of this and that
  %ul.skill-images
    %li.skill-image=image_tag 'rails.png'
    %li.skill-image=image_tag 'ruby.png'
    %li.skill-image=image_tag 'python.png'
    %li.skill-image=image_tag 'ember.jpg'
    %li.skill-image=image_tag 'r.jpg'
  %ul.skill-images
    %li.skill-image=image_tag 'html5.png'
    %li.skill-image=image_tag 'css3.png'
    %li.skill-image=image_tag 'coffeescript.png'
    %li.skill-image=image_tag 'jquery.png'
    %li.skill-image=image_tag 'json.gif'
  %ul.skill-images
    %li.skill-image=image_tag 'iterm.png'
    %li.skill-image=image_tag 'linux.jpg'
    %li.skill-image=image_tag 'apple.jpg'
    %li.skill-image=image_tag 'sublime.png'
    %li.skill-image=image_tag 'vim.svg'
  %ul.skill-images
    %li.skill-image=image_tag 'newrelic.jpeg'
    %li.skill-image=image_tag 'cucumber.jpg'
    %li.skill-image=image_tag 'redis.png'
    %li.skill-image=image_tag 'eclipse.jpeg'
    %li.skill-image=image_tag 'twilio.png'
