.project-entry
  .details
    %p UEvents is an application that taps into the UChicago facebook community to offer a comprehensive, centralized list of all public events for UChicago students.
  .project-image-container
    =image_tag 'uevents.png', class: 'project-image'
