.content.home-container
	#home
		=image_tag "profile.jpg", :class => "background-image"
		.home
			.home-details
				%h1 Hi, I'm Shaan Sapra
				%p I'm a software developer in Chicago.
				%p
					Check out more about my
					=link_to 'experience', '/experiences', class: 'nav-link'
					and past
					=link_to 'projects', '/projects', class: 'nav-link'
				%p Reach out to me:
				.contact-container
					.left-side
						%ul.icons
							%li
								%i.fa.fa-envelope
							%li
								%i.fa.fa-github-square
							%li
								%i.fa.fa-linkedin-square
						%ul.contact
							%li= link_to "<p>shaanfire@gmail.com</p>".html_safe, 'mailto:shaanfire@gmail.com'
							%li= link_to "<p>Github</p>".html_safe, 'https://github.com/ssapra', target: '_'
							%li= link_to "<p>LinkedIn</p>".html_safe, 'http://www.linkedin.com/in/shaansapra', target: '_'
