.project-entry
  .details
    %p HappyHealth is an online patient registration tool that makes it easy for patients to store their basic personal, medical and insurance information to spare you the hassle at the doctor's office.
  .project-image-container
    =image_tag 'happyhealth.png', class: 'project-image'
