.project-entry
  .details
    %p No Limit Code 'Em is variation of the poker game No Limit Hold 'Em, designed as a hackathon in which students compete against each other to build a poker bot and compete against each other at our tables.
  .project-image-container
    =image_tag 'enova.png', class: 'project-image'
