#experience
  %h1.heading Projects
  %p.viewpoint While I was at the University of Chicago, I had the opportunity to work on several projects with friends and colleagues. Some have spun off into fully-fledged startups and some have been put to rest until a later day. Check them out!
  #details
    .work-images
      .image-block=link_to (image_tag 'phoenixpitch-logo.png'), project_path(name: 'phoenixpitch'), remote: true
      .image-block=link_to (image_tag 'edge.png'), project_path(name: 'edge'), remote: true
      .image-block=link_to (image_tag 'uevents-logo.png'), project_path(name: 'uevents'), remote: true
    .work-images
      .image-block=link_to (image_tag 'reliefwatch.png'), project_path(name: 'reliefwatch'), remote: true
      .image-block=link_to (image_tag 'enova-logo.png'), project_path(name: 'nolimitcodeem'), remote: true
      .image-block=link_to (image_tag 'happyhealth-logo.jpg'), project_path(name: 'happyhealth'), remote: true
