.work
  .enova
    .work-experience
      =image_tag 'enova.jpg'
      .work-details
        %h2 Software Engineering Intern
        %h3 Chicago, IL
        %h3 August 2012 - September 2013
      %ul.experience-stories
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p Streamlined manual data-entry in call center using a Redis-backed queue in a Ruby on Rails application to automate payment scheduling with approximately $200K ROI
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p Improved customer representative performance by revamping search workflow in production using internal API for SQL querying with approximately $500K ROI
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p Designed multiple functional, unit, integration, and end-to-end tests using RSpec and Cucumber to ensure the business requirements were met in four Rails projects
      %ul.experience-stories
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p Implemented Riak data storage as a means to lookup email metadata through MapReduce queries, secondary indices, and search as a proof of concept
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p Designed and implemented an application to handle incoming HTTP requests and to create and update a poker game-state for two hackathons for college students
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p Explored open source and paid proprietary solutions for speech recognition to translate call data into text for quality assurance and fraud analytics
