.work
  .opower
    .work-experience
      %h1.brand
      .work-details
        %h2 2014 KPCB Engineering Fellow
        %h3 San Francisco, CA
        %h3 June 2014 - September 2014
      %ul.experience-stories
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p Adapted Rails application to handle new location-based functionality to communicate with iOS and Android apps for thousands of customers using smart thermostats
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p Collaborated with team leaders to develop new user interface in AngularJS application to improve customer experience in controlling smart thermostats
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p Upgraded legacy Customer Service Portal to provide customer status by modifying SQL view, creating new server endpoints, and updating AngularJS application
    =image_tag 'automatic_away_screenshot.png', class: 'opower-screenshot'
