.work
  .starterleague
    .work-experience
      %h1.brand
      .work-details
        %h2 Summer 2012 Dev Student
        %h3 Merchandise Mart, Chicago, IL
        %h3 June 2012 - August 2012
      %ul.experience-stories
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p Attended a 10-week program in 1871, Chicago's entrepreneurial hub for digital startups, where I learned Ruby on Rails, HTML, CSS, and Javascript along with 30 other students
        %li
          .story
            %i.fa.fa-arrow-circle-o-right.icon
            %p
              Worked as lead developer on a team to build
              %span#happyhealth HappyHealth
              for the Demo Day presentation at the end of the curriculum and presented to over 100 attendees
    =image_tag 'starter-league-art.jpg', class: 'stl-image'
