#experience
  %h1.heading Experience
  %p.viewpoint I owe a lot to the mentors and friends at these companies who have guided my development as an engineer and helped me reach where I am today.
  #details
    .work-images
      .image-block=link_to (image_tag 'starterleague-logo.png'), experience_path(name: 'starterleague'), remote: true
      .image-block=link_to (image_tag 'enova-logo.png'), experience_path(name: 'enova'), remote: true
      .image-block=link_to (image_tag 'opower.png'), experience_path(name: 'opower'), remote: true
