.header
  .container
    %ul
      %li
        =link_to "HOME", "/", class: 'nav-link'
      %li
        =link_to "EXPERIENCE", "/experiences", class: 'nav-link'
      %li
        =link_to "PROJECTS", "/projects", class: 'nav-link'
